
.profile-container {
    padding:2rem 3rem;

      .profile-form-container {
        padding:1.7rem 1.2rem;
        border-radius: 6px;
        box-shadow: var(--shadow-2);
        background-color: #fff;

         h4 {
            font-size:1.7rem;
            font-weight: 500;
         }

         .form {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap:12px;
            margin-top:25px;

            .form-control {
                display:flex;
                flex-direction: column;
                row-gap:10px;

                 input {
                   width:100%;
                   padding:0.6rem 0.5rem;
                   outline:none;
                   background-color: var(--grey-50);
                   border:solid 1px var(--grey-100);
                   border-radius: 6px;

                 }

                 select {
                    width:100%;
                    padding:0.6rem 0.5rem;
                    outline:none;
                    background-color: var(--grey-50);
                    border-radius: 6px;
                    border:solid 1px var(--grey-100);
                 }

              }

              .form-button {
                display: flex;
                align-items: flex-end;

                 #save {
                   width: 100%;
                   padding:0.6rem 0;
                   font-size:0.9rem;
                   font-weight:600;
                   background-color: var(--primary-500);
                   color:#fff;
                   border-radius: 4px;
                   outline:none;
                   cursor:pointer;
                   border:solid 1px var(--primary-500);
                   box-shadow:var(--shadow-2);
                   transition:all 0.3s ease-in-out;

                   &:hover {
                    background-color: var(--primary-700);
                   }
                 }
              }
         }
          
      }
}